body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000000;
    line-height: 1.6;
}

header {
    background-color: #258229;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 30px;
}

#introduction {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#introduction h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

#introduction p {
    font-size: 1em;
    line-height: 1.8;
    text-align: justify;
}

#cropSelection {
    background-color: #bef9be;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cropSelection h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
}

.crop-option {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5em;
}

.crop-option input[type="radio"] {
    margin-right: 10px;
}

#plantingForm {
    margin-top: 15px;
    text-align: center;
    font-size: 1.5em;
}

#plantingForm label {
    margin-right: 10px;
}

#plantingForm button {
    padding: 10px 20px;
    background-color: #258229;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8em;
}

#plantingForm button:hover {
    background-color:#258229;
}

/* Estilo das Informações sobre as Culturas */
#cropInfo {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cropInfo h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.crop-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: justify;
    font-size: 1.2em;
}

.crop {
    flex: 1;
    min-width: 250px;
}

.crop h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.crop img {
    max-width: 40%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.crop p {
    font-size: 1em;
    line-height: 1.6;
}

/* Estilo dos Cronômetros */
#timersSection {
    background-color: #bef9be;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timer {
    margin-bottom: 20px;
    text-align: center;
}

.timer h2 {
    font-size: 1.4em;
    margin-bottom: 0.5px;
    color: #000000;
    text-align: center;
}

.timer p {
    font-size: 1.2em;
    font-weight: bold;
    color: #000000;
    background-color:#bef9be;
    padding: 10px;
    border-radius: 0.5px;
    display: inline-block;
}

.rodape {
    background-color:#258229;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .rodape__logo {
    max-width: 200px;
  }
  
  .rodape__lista {
    list-style: none;
    padding: 0;
  }
  
  .rodape__lista li {
    display: inline;
    margin: 0 10px;
  }
  
  .rodape__lista a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .rodape__lista a:hover {
    text-decoration: underline;
  }
  
  .rodape__texto {
    margin-top: 10px;
  }

  a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
